.emailRegisterLabel,
.passwordRegisterLabel,
.usernameRegisterLabel,
.loginEmailLabel,
.loginPasswordLabel {
  color: var(--lemon);
  margin: 8px 0px;
  font-family: var(--secundary-font);
}

.loginEmailLabel,
.loginPasswordLabel {
  align-self: flex-start;
}

.newTaskLabel,
.checkBoxLabel {
  font-family: var(--secundary-font);
  color: rgba(0, 0, 255)
}
