.emailRegisterLabel,
.passwordRegisterLabel,
.usernameRegisterLabel,
.loginEmailLabel,
.loginPasswordLabel {
  color: var(--lemon);
  margin: 8px 0px;
  font-family: var(--secundary-font);
}

.loginEmailLabel,
.loginPasswordLabel {
  align-self: flex-start;
}

.newTaskLabel,
.checkBoxLabel {
  font-size: 20px;
  font-family: var(--test-font);
  color: rgb(154, 154, 239)
}
