li {
    border: solid 1px #000;
    border-radius: 7px;
    margin: 20px;
    padding: 20px;
    background-color: var(--lemon);
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.3);
}

.task, 
.date {
    font-family: var(--secundary-font);
    color: var(--puma)
}

.paragraph {
    margin: 5px 0;
    font-size: 12px;
    color:rgba(0, 0, 255);
    font-family: var(--main-font);
}

li div > * {
    display: inline;
}

li div {
    position: relative;
}

.editIcon, 
.deleteIcon {
    position: absolute;
    color:rgba(0, 0, 255);
}

.deleteIcon {
    right: 10px;
    bottom: 2px;
}

.editIcon {
    right: 50px;
    bottom: 2px;
}