li {
    border: solid 1px #000;
    border-radius: 7px;
    margin: 7px 0;
    padding: 10px;
}

li p {
    margin: 0 0 20px 0;
    font-size: 18px;
}

li div > * {
    display: inline;
    color: yellow;
}

li div {
    position: relative;
}

.editIcon, 
.deleteIcon {
    position: absolute;
}

.deleteIcon {
    right: 10px;
    bottom: 2px;
}

.editIcon {
    right: 50px;
    bottom: 2px;
}