@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');



:root {
  --flamingo: rgb(252, 16, 186);
  --puma: rgb(0, 0, 0);
  --lemon: rgb(232, 245, 94);
  --main-font:  "Major Mono Display", monospace;
  --secundary-font: "Abel", sans-serif;
  --test-font: "Jersey 15", serif;
}

body {
  margin: 0;
  background-color: var(--flamingo);
  min-height: 100vh;   
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
 }