.list {
  padding: 0;
  list-style: none;
  width: 75%;
  overflow: auto;
}

small {
  margin-left: 10px;
}

h2 {
  align-self: center;
  color: var(--flamingo);
  margin: 0;
}

.taskCard {
  display: flex;
  flex-direction: column;
  border: solid 1px #000;
  margin-top: 5em;
  height: 13rem;
  border-radius: 7px;
  padding: 15px 7px;
  width: 70%;
  background-color: var(--lemon);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.taskCard form > * {
  margin: 10px 0 0 10px;
}

@media only screen and (min-width: 768px) {
  .list {
    width: 50%;
  }
}
