nav{
    position: fixed;
    bottom: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

nav > * {
    color: var(--lemon);
}

@media only screen and (min-width: 600px) {
    nav {
      bottom: 2em;
    }
  }
