.deleteForm {
    display: inline;
    grid-column: 1/1;
}

.deleteBtn {
  background-color: transparent;
  color: rgba(0, 0, 255);
  border: none;
}


@media only screen and (min-width: 600px) {
  .deleteForm {
    grid-column: 3/4;
  }
}
