.passwordRegisterInput,
.emailRegisterInput,
.usernameRegisterInput,
.loginEmailInput,
.loginPasswordInput {
  background-color: transparent;
  border: solid 1px var(--lemon);
  height: 30px;
  width: 98%;
  border-radius: 7px;
  padding: 0 0 0 5px;
  box-shadow: 0 0 0 40px var(--flamingo) inset !important;
}

.newTaskInput {
  background-color: var(--lemon);
  padding: 0 0 0 5px;
  height: 25px;
  width: 60%;
  border: solid 1px var(--puma);
  border-radius: 7px;
}

input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--lemon);
  border: 1px solid var(--puma);
  border-radius: 5px;
  cursor: pointer;
  content: "";
  margin-right: 20px;
}

input[type="checkbox"]::after {
  color: var(--puma);
  display: none;
}

input[type="checkbox"]:checked {
  background-color: var(--lemon);
}

input[type="checkbox"]:checked::after {
    display: block;
    content: "\002714";
}

.passwordRegisterInput:focus,
.emailRegisterInput:focus,
.usernameRegisterInput:focus,
.newTaskInput:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .passwordRegisterInput,
  .emailRegisterInput,
  .usernameRegisterInput,
  .loginEmailInput,
  .loginPasswordInput {
    width: 40%;
  }

  .loginEmailInput,
  .loginPasswordInput {
    align-self: flex-start;
  }
}
