.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding: 45px 45px 0 45px;
}

.homeLink {
  text-decoration: none;
}

.heading {
  font-family: var(--main-font);
  color: var(--puma);
  margin: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.paragraphHeader {
  grid-row: 2 / 2;
  grid-column: 2/ 2;
  color: var(--lemon);
  font-family: var(--secundary-font);
}

.headerRule {
  border-color: var(--puma);
  width: 80%;
  border-style: solid;
}
